﻿<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/dmt1d/css/style.css" rel="stylesheet" type="text/css">
<script language='JavaScript'>
</script> 
<title>:::: DEMENTOR ::::</title>
</head>


<body style="margin:0 0 0 0" oncontextmenu='return false' ondragstart='return false' onselectstart='return false'>
<table width="350" height="510" border="0" cellpadding="0" cellspacing="0" background="/dmt1d/images/help/bg_help.png">
  <tr>
    <td align="center" valign="top">
	
        <table width="330" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="238" height="40" align="left" valign="top"><img src="/dmt1d/images/help/title_help.png"></td>
			<td width="78" align="right" valign="middle">
<%
			if(site_code.equals("K0004")){
%>
				<a class="btn-u btn-u-dark-blue" href="/dmt1d/passTransfer.jsp?site_code=<%=site_code %>&userId=<%=userId%>&processCmd=kcisalogin&status=4" target="_parent"><font color="white"><b>재설정</b></font></a> <br>
<%				
			} else {
%>
            	<a href="/dmt1d/passTransfer.jsp?site_code=<%=site_code %>&userId=<%=userId%>&processCmd=kcisalogin&status=4" target="_parent"><img width="97" height="27" src="/dmt1d/images/new/btn_reset.jpg"></a>
<%			
			}
%>
            </td>
          </tr>
          
          <tr>
            <td height="402" colspan="2" align="center" valign="top" style="padding:17 0 0 0"><img src="/dmt1d/images/help/help_img01.jpg"></td>
          </tr>
          <tr>
            <td height="51" colspan="2" align="center" valign="top">

<!-- START -->
                <table width="305" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="40" align="center" style="padding-top:8px"><a href="dementor_1_1.html" onFocus="this.blur()"><img src="/dmt1d/images/help/bt_next.png" border="0"></a></td>
                  </tr>
                </table>
<!-- END -->

            </td>
          </tr>
        </table>
      </td>
  </tr>

</table>

</body>
</html>
