<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<%
	request.getParameter("sendMessage");
%>
<HTML>
 <HEAD>
  <TITLE> Message Check Test Page </TITLE>
 </HEAD>

 <BODY>
 <input type="hidden" name="sendMessage" value="<%=userId%>">
  
 </BODY>
</HTML>
