@charset "utf-8";


/*------------ 링크 속성 ---------------*/
a:link    {color:#7c7c7c; text-decoration:none; line-height:160%}/*기본*/
a:visited {color:#b7b7b7; text-decoration:none; line-height:160%}
a:active  {color:#7c7c7c; text-decoration:none; line-height:160%}
a:hover  {color:#6292cc; text-decoration:none; line-height:160%}


.day_no {font-family:"돋움"; font-size:12px; color:#7086a1;}/*인덱스공지게시 날짜*/

a.s_t:link    {font-size:12px; color:#8b8a85; text-decoration:none; line-height:170%}/*좌측메뉴 텍스트*/
a.s_t:visited {font-size:12px; color:#8b8a85; text-decoration:none; line-height:170%}
a.s_t:active  {font-size:12px; color:#8b8a85; text-decoration:none; line-height:170%}
a.s_t:hover  {font-size:12px; color:#917155; text-decoration:underlinee; line-height:170%}


a.b_n:link    {font-size:11px; color:#8b8a85; text-decoration:none; line-height:170%}/*게시판번호 텍스트*/
a.b_n:visited {font-size:11px; color:#8b8a85; text-decoration:none; line-height:170%}
a.b_n:active  {font-size:11px; color:#8b8a85; text-decoration:none; line-height:170%}
a.b_n:hover  {font-size:11px; color:#e4651f; text-decoration:underlinee; line-height:170%}




/*------------ 기본 텍스트 속성 --------*/
td, select, input, div, form,  center, option, pre, blockquote {font-family:"돋움"; font-size:12px; color:#7c7c7c; line-height:160%}/*기본 텍스트*/
.con_tit {font-family:"돋움"; font-size:12px; color:#6889ab; font-weight:bold;}/*게시판 메뉴 타이틀 파랑색*/
.con_jul { font-family:"돋움"; font-size:12px; color:#93b7d3;}/*페이지 경로 하늘색*/
.sub_btit {font-family:"돋움"; font-size:12px; color:#7897ca; font-weight:bold;}/*내부컨텐츠 강조 진한 파랑색*/
.b_txt {font-family:"돋움"; font-size:12px; color:#ffffff; font-weight:bold;}/*게시판 메뉴 굵은 흰색*/

/*------------ 바디태그-----------------*/
body { scrollbar-face-color: #DDDDDD; scrollbar-shadow-color: #dddddd; scrollbar-highlight-color: #FFFFFF;
       scrollbar-3dlight-color: #dddddd; scrollbar-darkshadow-color: #eeeeee; scrollbar-track-color: #ffffff;
       scrollbar-arrow-color: #000000; margin:0px 0px 0px 0px; background-color:#ffffff; 
       background-image:url(../img/bg.jpg);}


/*--------게시판 배경 및 폰트지정-------*/
.t_b {font-family: "돋움"; font-size: 12px;  background-color : #DF2121;}




/*-------------- 게시판관련 ------------*/
.b_ip {font-family:"돋움"; font-size:12px; color:#7c7c7c; background-color:#ffffff; border:1px solid #e1e0db;}/*게시판 인풋박스*/
.login_ip {font-family:"돋움"; font-size:12px; color:#745e46; background-color:#ffffff; border:1px solid #e1e0db;}/*로그인 ID*/
.b_back { background-color:#7897ca; }/*게시판 탑라인 진한파랑색*/
.b_l { background-color:#e9eaeb;}/*밝은회색 사이 라인*/
.b_padd {padding:3 3 3 5px;}/*내부내용 패딩값*/
.b_t { background-color:#88a3d0;}/*진한 파란색 탑라인*/
.b_t1{ background-color:#ebeaea;}/*탑라인아래 회색라인*/
textarea   { color: #5A6A70; font-family:"돋움,verdana"; font-size:12px; border-right: #C4C4C3 1px solid; border-top: #C4C4C3 1px solid; border-bottom: #C4C4C3 1px solid; border-left: #C4C4C3 1px solid; background-color:#ffffff;}
.sel_sty  { color: #5A6A70; background-color:#ffffff; font-family:돋움,verdana; font-size:12px;}/*펼침메뉴 스타일*/
 



img{border:none;}/*이미지테두리 없애기*/



