/*****************************************************/
/************** design by weeka **********************/
/*************  2008.10.09      **********************/
/*****************************************************/
body,td { font-size:16px; color:#3d3d3d; font-family:verdana,tahoma
}
	A:link {
		FONT-SIZE: 16px; COLOR: #3d3d3d; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}
	A:visited {
		FONT-SIZE: 16px; COLOR: #3d3d3d; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}
	A:hover {
		FONT-SIZE: 16px; COLOR: #0066cc; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}
	A:active {
		FONT-SIZE: 16px; COLOR: #3d3d3d; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}

/*********scrollbar**************/	
body	{
	scrollbar-face-color:#ffffff;scrollbar-shadow-color:#ffffff; 
	scrollbar-highlight-color:#ffffff; scrollbar-3dlight-color:#ffffff; 
	scrollbar-darkshadow-color:#ffffff; scrollbar-track-color: #ffffff; 
	scrollbar-arrow-color:#ffffff;
	}
/********************************text***************************************/
.redtxt
{
	font-family:  verdana,tahoma;
	font-size:12px; 
	color:#ff3300; 
	line-height:12px;
	TEXT-DECORATION: none;
	font-weight: bolder;
}

.whtxt
{
	font-family:  verdana,tahoma;
	font-size:16px; 
	color:#333333; 
	line-height:20px;
	TEXT-DECORATION: none;
}
	.whtxt A:link {
		FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}
	.whtxt A:visited {
		FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}
	.whtxt A:hover {
		FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: underline
	}
	.whtxt A:active {
		FONT-SIZE: 16px; COLOR: #333333; FONT-FAMILY: verdana,tahoma; TEXT-DECORATION: none
	}
	
.black {font-weight: bold;
}


.bold
{
	font-family:  verdana,tahoma;
	font-size:16px; 
	color:#000000; 
	TEXT-DECORATION: none;
	font-weight: bolder;
}
.boldred
{
	font-family:  verdana,tahoma;
	font-size:16px; 
	color:#BD1D11; 
	TEXT-DECORATION: none;
}



/********************************form *************************************/

.padd2 {
	padding-left :15px;
	padding-right :15px;
	padding-top :px;
	padding-bottom :px;
}


/********************************copy***************************************/


.bg
{
	background-image:  url(/images/common/bg_top_03.gif);
	background-repeat:repeat-X ;
	background-position: right top;
}



.bg2
{
	background-image:  url(../images/sub_bg.gif);
	background-repeat:repeat-X;
	background-position: left top;
}