.dmt2dbtn { font-size: 11px; text-align: center; color: #555; font-weight: bold; display: inline-block; margin: 2px 0; padding: 8px 12px 7px 12px; line-height: 13px; border: 1px solid #d5d5d5; 
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
  background-repeat: repeat-x;

  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.dmt2dbtn-info {
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #389ebc;
  background: -moz-linear-gradient(top, #46a2d5, #3c85ba);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#46a2d5), to(#3c85ba));
  background: -webkit-linear-gradient(top, #46a2d5, #3c85ba);
  background: -o-linear-gradient(top, #46a2d5, #3c85ba);
  background: linear-gradient(to bottom, #53b8d6, #389ebc);
  border-color: #389ebc;
}
.dmt2dbtn-info:active, .dmt2dbtn-info.active, .dmt2dbtn-info.disabled, .dmt2dbtn-info[disabled] { background: #46abc9; color: #fff; }

.dmt2dbtn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #c05343;
  background: -moz-linear-gradient(top, #d65f4d, #cb4131);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d65f4d), to(#c05343));
  background: -webkit-linear-gradient(top, #d65f4d, #c05343);
  background: -o-linear-gradient(top, #d65f4d, #c05343);
  background: linear-gradient(to bottom, #d65f4d, #c05343);
  border-color: #c05343;
}
.dmt2dbtn-danger:active, .dmt2dbtn-danger.active, .dmt2dbtn-danger.disabled, .dmt2dbtn-danger[disabled] { background: #cc5949; color: #fff; }