@import "plugins.css";

/* ========================================================
*
* Pannonia - responsive admin template
*
* ========================================================
*
* File: main.css;
* Description: General template styles, including bootstrap components
* Version: 1.0
*
* ======================================================== */



/* # General styles
================================================== */

html { height: 100%; background: url(../images/admin/backgrounds/main.png); font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; min-height: 100%; background-repeat: repeat-y; background-position: 0 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: #555; position: relative; }

#map_canvas img, .google-maps img { max-width: none; }

a { color: #1D8EC7; text-decoration: none; }
a:hover { color: #E03D22; }
a:hover, a:active, a:focus { outline: 0; }

sub, sup { position: relative; font-size: 75%; line-height: 0; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }
button, input, select, textarea { margin: 0; font-size: 100%; }
button, input { *overflow: visible; line-height: normal; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0; border: 0; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] { cursor: pointer; }
input[type="search"] { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
textarea { overflow: auto; vertical-align: top; }



/*===== Tables styles =====*/

table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0; }
.table { width: 100%; border: 1px solid #d5d5d5; }
.table th, .table td { padding: 8px 12px; line-height: 20px; vertical-align: middle; border-top: 1px solid #e2e2e2; }
.table td { background: #fff; }
.table th { font-weight: bold; text-align: left; }
.table thead th { background-color: #f8f8f8; }

.table .checker { margin: 0; }
.table-checks tr td:first-child { width: 40px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -ms-box-sizing: border-box; }
.table-checks .row-checked td { background: #fffff7; }

.table-controls { line-height: 1; font-size: 0; }
.table-controls > li { display: inline-block; margin: 0 2px; line-height: 1; }
.table-controls > li > .btn { padding: 6px 4px; margin: 0; }
.table-controls > li > .btn > i { margin-left: 0; margin-right: 0; font-size: 14px; }
.table-controls > li > a { display: inline-block; }
.table-controls > li > a > i { margin: 0; font-size: 14px; color: #555; display: block; }
.table-controls > li > a.btn > b, .table-controls > li > a > b { margin: 1px 0 -1px 0; font-size: 14px; color: #555; width: 1.1em; float: none; }

.table-footer .table-actions label { margin: 3px 12px 0 0; display: inline-block; }
.table-footer {
  border: 1px solid #d5d5d5; padding: 14px 12px; margin-top: 1px; font-size: 11px;
  background: #fafafa;
  background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 );
}
.table-footer:after { content: ""; display: block; height: 0; clear: both; }
.table-footer .pagination { display: inline-block; float: right; }
.table-actions { display: block; float: left; }
.table-actions .selector { height: 26px; line-height: 26px; min-width: 0; } 
.table-actions .selector span { padding: 7px 31px 6px 0px; background: url(../img/elements/forms/select_arrows.png) no-repeat 100% -1px; }
.table-actions .selector input { height: 26px; }

.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td { border-top: 0; }
.table tbody + tbody { border-top: 2px solid #dddddd; }
.table-condensed th, .table-condensed td { padding: 4px 12px; }

.table-gradient tbody td { background: none; }
.table-gradient tbody tr {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #fafafa 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#fafafa 100%);
  background: linear-gradient(top,  #ffffff 0%,#fafafa 100%);
}

.table-transparent, .table-transparent tbody td, .table-transparent thead th { background: none; }

.table-bordered { border-collapse: collapse; border-left: 0; }
.table-bordered th, .table-bordered td { border-left: 1px solid #dddddd; }
.table .rowspan { border-left: 1px solid #e2e2e2!important; }

.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td { border-top: 0; }
.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th { background-color: #fcfcfc; }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #fafafa; }

.row-fluid table [class*=span] { display: table-cell; float: none; margin-left: 0; }


/* Color highlighting */

.table tbody tr.success td { background-color: #f0faec; }
.table tbody tr.error td { background-color: #fdf3f3; }
.table tbody tr.warning td { background-color: #FFFFF7; }
.table tbody tr.info td { background-color: #eef7fb; }
.table-hover tbody tr.success:hover td { background-color: #eaf9e4; }
.table-hover tbody tr.error:hover td { background-color: #fdefef; }
.table-hover tbody tr.warning:hover td { background-color: #fefeea; }
.table-hover tbody tr.info:hover td { background-color: #e8f5fb; }

.table-striped tbody > tr { background: #f9f9f9; } .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th { background-color: #fff; }
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: #f5f5f5; }
.row-fluid table td[class*="span"], .row-fluid table th[class*="span"] { display: table-cell; float: none; margin-left: 0; }

.table tbody tr.success td { background-color: #f0faec; }
.table tbody tr.error td { background-color: #fdf3f3; }
.table tbody tr.warning td { background-color: #FFFFF7; }
.table tbody tr.info td { background-color: #eef7fb; }
.table-hover tbody tr.success:hover td { background-color: #eaf9e4; }
.table-hover tbody tr.error:hover td { background-color: #fdefef; }
.table-hover tbody tr.warning:hover td { background-color: #fefeea; }
.table-hover tbody tr.info:hover td { background-color: #e8f5fb; }


/* # Form elements
================================================== */

fieldset { padding: 0; margin: 0; border: 0; }
legend { display: block; width: 100%; padding: 0; margin-bottom: 20px; font-size: 21px; line-height: 40px; color: #333333; border: 0; border-bottom: 1px solid #e5e5e5; }
legend small { font-size: 15px; color: #999999; }

.field-icon { position: absolute; top: 8px; right: 8px; display: block; font-size: 14px; line-height: 1; }
.next-row { display: block; margin-top: 10px; }

label, input, button, select, textarea { font-weight: normal; }
input, button, select, textarea { font-family: Arial, Helvetica, sans-serif; }
label { display: block; margin-bottom: 5px; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { display: inline-block; padding: 8px 7px 8px 7px; font-size: 11px; color: #555555; vertical-align: middle; height: 30px; }

textarea { height: auto; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input { background-color: #ffffff; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #dadada;
  box-shadow: 0 0 0 2px #f8f8f8;
  -webkit-box-shadow: 0 0 0 2px #f8f8f8;
  -moz-box-shadow: 0 0 0 2px #f8f8f8;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus { outline: 0; }

input[type="radio"],
input[type="checkbox"] { margin: 3px 0 0; margin-top: 1px \9; *margin-top: 0; line-height: normal; }

.controls input[type="file"] { margin-top: 6px; }
.multiple { width: 100%; height: 200px; font-size: 12px; border: 1px solid #DADADA; }
.rtl-inputs [class*="span"], .rtl-inputs [class^="span"] { float: right!important; }

select { height: 30px; *margin-top: 4px; line-height: 30px; padding: 0; }
select { width: 220px; background-color: #ffffff; border: 1px solid #d5d5d5; }
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus { outline: 0; }

.uneditable-input, .uneditable-textarea { color: #999999; cursor: not-allowed; background-color: #fcfcfc; border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input { overflow: hidden; white-space: nowrap; }
.uneditable-textarea { width: auto; height: auto; }

input:-moz-placeholder, textarea:-moz-placeholder { color: #999999; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999999; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999999; }

.checkbox.disabled, .radio.disabled { color: #999; }
.radio input[type="radio"], .checkbox input[type="checkbox"] { float: left; margin-right: 8px; }
.controls > .radio:first-child, .controls > .checkbox:first-child { padding-top: 5px; }
.radio.inline, .checkbox.inline { display: inline-block; padding-top: 5px; margin-bottom: 0; vertical-align: middle; }
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline { margin-left: 10px; }
.input-mini { width: 60px; }
.input-small { width: 90px; }
.input-medium { width: 150px; }
.input-large { width: 210px; }
.input-xlarge { width: 270px; }
.input-xxlarge { width: 530px; }

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] 
{ float: none; margin-left: 0; }

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] 
{ display: inline-block; }

input, textarea, .uneditable-input { margin-left: 0; }
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] { cursor: not-allowed; background-color: #f8f8f8; color: #777; }
input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"][readonly], input[type="checkbox"][readonly] { background-color: transparent; }
input:focus:invalid, textarea:focus:invalid, select:focus:invalid { color: #b94a48; border-color: #ee5f5b; }
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus { border-color: #e9322d; }

